@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
$color-skyBlue: #8ecae6;
$color-royalBlue: #219ebc;
$color-darkBlue: #023047;
$color-yellow: #ffb703;
$color-orange: #fb8500;

@mixin contentValue {
  width: 80%;
  background-color: $color-skyBlue;
  border-radius: 50px;
  margin: auto;
  margin-top: 50px;
  height: min-content;
  text-align: center;
}
body {
  background-color: $color-royalBlue;
}
header {
  background-color: $color-skyBlue;
  height: 100px;
  border-radius: 50px;
  margin: 50px auto;
  width: 90%;
  display: flex;
  .information {
    border-right: 1px $color-royalBlue solid;
    height: 100px;
    // justify-content: start
    width: 35%;
    border-radius: 50px;
    transition: all 0.5s;
    background-color: $color-skyBlue;
    text-align: center;
    text-shadow: 1px 1px 3px $color-royalBlue;
    &:hover {
      box-shadow: 1px 5px 7px 1px $color-darkBlue;
      margin-top: -4px;
      border: none;
    }
  }

  .social-media {
    @extend .information;
    margin-left: auto;
    border-left: 1px $color-royalBlue solid;
    display: flex;
    a {
      width: 70px;
      margin: auto;
      padding: 5px;
      img {
        height: min-content;
        width: min-content;
        border-radius: 50%;
        overflow: visible;

        &:hover {
          box-shadow: 2px 7px 7px 1px $color-royalBlue;
        }
      }
    }
  }
}
.imported {
  background-color: $color-skyBlue;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 30px;
  #inp-text {
    border-radius: 50px;
    border: none;
    border-bottom: $color-royalBlue 3px solid;
    border-top: $color-royalBlue 3px solid;
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: x-large;
    background: transparent;
    transition: all 0.8s;
    color: $color-royalBlue;
    &:hover {
      box-shadow: #023047 0px 5px 7px 2px;
    }
  }
  #click {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow: #023047 0px 0px 10px 1px;
    transition: all 0.8s;
    margin: 0 20px;
    background-image: linear-gradient(
      45deg,
      $color-darkBlue 1%,
      $color-royalBlue 30%,
      $color-skyBlue
    );
    &:hover {
      box-shadow: #023047 0px 5px 7px 2px;
    }
  }
}
.valueWrite {
  @include contentValue();
  height: max-content;
  padding: 15px;
  .value-one {
    @include contentValue();
    font-size: 50px;
    font-family: monospace;
    background-color: $color-darkBlue;
    margin: auto;
    color: #219ebc;
    text-shadow: #8ecae6 2px 2px 1px;
  }
  
  .mint {
    font-family: "Rocher";
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  
  .value-three {
    background: #000405;
    display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

h1{
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
    url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

}